
.phone{
    width: 300px;
    height: 300px;
    margin:  auto;
    border-radius: 20px;
    border: 20px solid rgba(0, 0, 0, 0.9);
    box-shadow: 10px 5px 4px 4px rgba(0, 0, 0, 0.5);
    min-width: 250px;
    max-width: 800px;
    
    



}
.screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.85);
    background-image: url(image/astro.jpg);
    color: rgb(241, 255, 39);
    font-weight: 900;
    border-radius: 1px;
    
}

.screen div{
    flex: 1;
}
.screen .third .controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}
.display{
    text-align: center;   
}
.option-text{
    text-align: center;
    font-weight: 900;

}

.mid-btn{
    width: 30%;
    height: 4%;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    
}
button{
    border-radius: 4px;
    padding: 2px;
    background-color: lightskyblue;
}
button:hover{
    background-color: black;
    color: white;
}
.author{
    text-align: center;
}